{% extends 'base.html' %}

{% block body %}

    
    
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-center mt-9 font-serif font-bold text-lg">Bye-bye</h1>
            <p class="lead font-serif text-muted mt-6">Thank you for spending quality time on the website</p>
            <p class="lead font-serif text-muted mt-2">You have logged out</p>

            <p class="mt-9">
              <a href="{% url 'notes:login' %}" class="bg-black  text-white font-bold py-2 px-4">Login Again</a>
            </p>
          </div>
        </div>
      </section>
   
    
{% endblock body %}