{% extends 'base.html' %} {% load crispy_forms_tags %} {% load tailwind_filters
%} {% block body %}
<div class="flex flex-col items-center h-100vh mt-9">
  <div class="p-20">
    <div class="">
      <div class="mb-5 text-center">
        {% if notes.important %}
        <a href="/important/{{notes.id}}/">
          <span class="material-icons "  style="color: #D4AF37">star</span>
        </a>
        {% else %}
        <a href="/important/{{notes.id}}/">
          <span class="material-icons-outlined">star_outline</span>
        </a>
        {% endif %}
      </div>
      <div class="mb-5 text-center">
        {% if notes.draft %}
        <h8 class="text-xs font-serif mr-5">Draft</h8>
        {% endif %} 
          <h9 class="text-xs font-serif ">{{notes.saved}}</h9>
      </div>

      <h4
        class="font-serif text-center font-medium leading-tight text-2xl text-black-600 mr-3 mb-3"
      >
        {{ notes.title }}
      </h4>
      <p class="mb-3 foFnt-serif text-center mt-5">{{ notes.description }}</p>
    </div>
  </div>

  {% endblock body %}
</div>
